<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        {% if site.author %}
                        {{ site.author | escape }}
                        {% else %}
                        {{ site.title | escape }}
                        {% endif %}
                    </li>
                    <li>
                        <a href="https://github.com/FdelMazo/Mafal-dia"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="source">{{ site.githubtitle }}</span></a>
                        <p></p>
                        <a href="https://github.com/FdelMazo"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="source">FdelMazo</span></a>
                        <br/>
                        <a href="https://github.com/Florencia-97"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="source">Florencia-97</span></a>
                    </li>
                    <p></p>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    <li><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a></li>

                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                </ul>
            </div>
            <p><img src="assets/img/background.png" alt="" style="width: 150px;"/></p>
            <div class="footer-col footer-col-3" align="right">
            </div>
        </div>

    </div>

</footer>